.Notification_Badge {
    display: inline-flex;
    position: relative;
    min-width: 30px;
    min-height: 30px;
}
.Number_tag {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10%;
    background-color: rgb(255, 137, 137);
    min-width: 20px;
    min-height: 20px;
}
